<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
    <header>
        {% block header %}
        {% endblock %}
    </header>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
</body>

</html>